.assign-container {
	padding: 10px 0px 0px 45px;
}

.assign-wrapper {
	justify-content: center;
	border-left: 0px;
	border-bottom: 3px;
	border-top: 0px;
	border-right: 0px;
	border-color: rgb(0, 178, 155);
	border-style: solid;
	background-color: none;
	width: 60%;
	margin: 25px 0 0 0;
}

.assign {
	font-size: 20px;
	line-height: 32px;
	font-weight: 300;
	color: white;
	margin: 0 0 2.5% 2%;
}

.bold {
	font-weight: 650;
	display: inline;
}

.name {
	color: rgb(0, 178, 155);
	font-weight: 700;
	font-size: 24px;
	padding-bottom: 8px;
	margin-top: -6px;
}

.assign-img {
	display: block;
	max-width: 500px;
	max-height: 500px;
	padding: 10px;
}
